*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #005c98, #3e187a);
    position: relative;
    overflow: hidden;
}

.header{
  color: #fff;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 40px;
  position: absolute;
  top: 40%;
  left:2%;
}