@import url('https://fonts.google.com/specimen/Delicious+Handrawn');

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
    font-family: 'Delicius Handrawn';
    background: linear-gradient(to bottom, #005c98, #3e187a);
    height: 800px;
}

.colegio h1{
    font-family: 'Delicious Handrawn';
    color: black;
    font-size: 70px;
    font-weight: 100;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
}

.materia h1{
    font-family: 'Delicious Handrawn';
    color: cyan;
    font-size: 30px;
    font-weight: 100;
    text-align: center;
    padding-bottom: 30px;
}

.maestra h1{
    font-family: 'Delicious Handrawn';
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 30px;
    text-align: center;
}

.alumno h1{
    font-family: 'Delicious Handrawn';
    color: white;
    font-size: 30px;
    font-weight: 100;
    padding: 30px;
    text-align: center;
}

.capa h1{
    font-family: 'Delicious Handrawn';
    color: cyan;
    font-size: 30px;
    font-weight: 100;
    padding-bottom: 30px;
    text-align: center;
}

.grupo h1{
    font-family: 'Delicious Handrawn';
    color: white;
    font-size: 40px;
    font-weight: 70;
    padding-bottom: 30px;
    text-align: center;
}

.coba h1{
    font-family: 'Delicious Handrawn';
    color: white;
    font-size: 40px;
    font-weight: 100;
    padding-bottom: 70px;
    text-align: center;
}

.inte{
    font-family: 'Delicious Handrawn';
    color: black;
    font-size: 30px;
    font-weight: 40;
    text-align: center;
}

.image{
    width: 300px;
    position: absolute;
    left: 5%;
    top: 26%;
}

.img{
    width: 400px;
    position: absolute;
    right: 5%;
    top: 30%;
}
